.color {
    border: black solid 5px;
    width: 90px;
    height: 90px;
    display: inline-block;
}

#pixel-board td {
    width: 89px;
    height: 89px;
    border: black solid 1px;
}

#clear-board {
    width: 100px;
    height: 100px;
    margin: 10px;
}